<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<!-- Forcing initial-scale shouldn't be necessary -->
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="format-detection" content="telephone=yes" />
<title>131</title>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
<style>
    .invoice_head{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 15px;
}
.invoice_head span{
    color: #b72031;
}
    table{
        width: 100%;
        font-family: Arial, sans-serif;
        font-size: 13px;
        vertical-align: top;
    }
    .table_sample{
        font-size: 12px;
    }
    .table_sample td{
        padding: 4px 8px;
        color: #000;
        font-size: 12px;
        line-height: 18px;
        vertical-align: top;
    }
    .tablee1{
        border: 2px solid #fff;
    }
    .tablee1 th{
        padding: 6px 8px;
        color: #fff;
        border: 2px solid #344767;
        border-right: 2px solid #fff;
        border-bottom: 0px solid #fff;
        background-color: #344767;
        font-size: 12px;
    }
    .tablee1 td{
        padding: 6px 8px;
        color: #000;
        border-right: 2px solid #fff;
    }
    .tablee2{
        border: 2px solid #344767;
    }
    .tablee2 th{
        padding: 6px 8px;
        color: #fff;
        background-color: #344767;
        font-size: 14px;
    }
    .tablee2 td{
        padding: 6px 8px;
        color: #000;
    }
    .table_black{
        border: 2px solid #000;
    }
    .table_black td{
        padding: 6px 8px;
        color: #000;
        vertical-align: top;
        border: 2px solid #000;
    }
</style>
</head>
<body>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mt-1">
                    <table>
                        <tr>
                            <td colspan="3" class="text-center"><h5 class="mb-0"><b> INVOICE TAX </b><b>فاتورة ضريبية</b></h5></td>
                        </tr>
                    </table>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <table class="table_sample">
                        <tr>
                            <td><b>Bill To</b></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Added 1 - cloud EDITED (Id
161)<br>
7340<br>
AL OLAYA<br>
AL OLAYA DIST<br>
Dammam<br>
Saudi Arabia
</td>
                            <td>
                                عميل الفواتير التجريبي
                              <br>  العليا
                              <br>  حي العليا
                             <br>   الدمام
                            المملكة العربية السعودية
                            </td>
                        </tr>
                        <tr>
                            <td>VAT Number : <br>310588313300003</td>
                        </tr>
                        <tr>
                            <td>CR Number : <br>310588313300003</td>
                        </tr>
                    </table>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <table class="table_sample">
                        <tr>
                            <td>Invoice Number</td>
                            <td class="text-start">MINU000021INV</td>
                            <td class="text-end">رقم الفاتورة</td>
                        </tr>
                        <tr>
                            <td>Invoice Date</td>
                            <td class="text-start">03-Mar-2026 </td>
                            <td class="text-end">تاريخ الفاتورة</td>
                        </tr>
                        <tr>
                            <td>P O Number</td>
                            <td class="text-start">0</td>
                            <td class="text-end">رقم أمر الشراء</td>
                        </tr>
                        <tr>
                            <td>P O Date</td>
                            <td class="text-start">06-Mar-2026</td>
                            <td class="text-end">الشراء أمر ت</td>
                        </tr>
                        <tr>
                            <td>Reference No</td>
                            <td class="text-start">12121</td>
                            <td class="text-end">رقم المرجع</td>
                        </tr>
                    </table>
                </div>
                
                <div class="col-lg-12 mt-1">
                    <table class="tablee1">
                        <tr>
                            <th class="text-center">Sl No<br>سري</th>
                            <th class="text-center">Item Description<br>وصف السلعة</th>
                            <th class="text-center">Qty<br>الكمية</th>
                            <th class="text-center">UOM<br>قياس</th>
                            <th class="text-center">Unit Rate<br>معدل الوحدة</th>
                            <th class="text-center">Total<br>المجموع</th>
                            <th class="text-center">Tax(15%)<br>الضريبة</th>
                            <th class="text-center">Grand Total<br>المجموع الإجمال</th>
                        </tr>
                        <tr>
                            <td class="text-center">1</td>
                            <td class="text-start">Bolt xitem second lang2Bolt xkklio </td>
                            <td class="text-center">12</td>
                            <td class="text-center">KGS</td>
                            <td class="text-end">30.00</td>
                            <td class="text-end">360.00</td>
                            <td class="text-end">54.00</td>
                            <td class="text-end">414.00</td>
                        </tr>
                        <tr>
                            <td class="text-center">2</td>
                            <td class="text-start">Note Book </td>
                            <td class="text-center">12</td>
                            <td class="text-center">KGS</td>
                            <td class="text-end">30.00</td>
                            <td class="text-end">360.00</td>
                            <td class="text-end">54.00</td>
                            <td class="text-end">414.00</td>
                        </tr>
                        <tr>
                            <td class="text-center"><br><br><br><br></td>
                            <td class="text-start"></td>
                            <td class="text-end"></td>
                            <td class="text-end"></td>
                            <td class="text-end"></td>
                            <td class="text-end"></td>
                            <td class="text-end"></td>
                            <td class="text-end"></td>
                        </tr>
                        
                    </table>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 mt-4 text-center">
                    <img style="margin-top: 0px;" src="https://quickchart.io/qr?text=AQ9FdGhpY2IgQWR2aXNhcnkCAAMTMjAyNS0wOC0wNyAwNjoyMDoxNAQFMjMuNDUFBS0wLjA3&size=160">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 mt-4">
                    <table class="table_black">
                        <tr>
                            <td>Subtotal</td>
                            <td class="text-end">الفرعي المجموع </td>
                            <td class="text-end">7,860.00</td>
                        </tr>
                        <tr>
                            <td>Discount</td>
                            <td class="text-end">تخفيض</td>
                            <td class="text-end">0.00</td>
                        </tr>
                        <tr>
                            <td>VAT(15%)</td>
                            <td class="text-end">لمضافة القيمة ض</td>
                            <td class="text-end">1,179.00</td>
                        </tr>
                        <tr>
                            <td>Total Amount in SAR</td>
                            <td class="text-end">الإجمالي ا</td>
                            <td class="text-end">9,039.00</td>
                        </tr>
                    </table>
                </div>
                <div class="col-lg-12 mt-4">
                    <table class="tablee2">
                        <tr>
                            <th>Total Amount in Words </th>
                            <th class="text-end">بالكلمات الإجمالي ا</th>
                        </tr>
                        <tr>
                            <td>UAE Dirham Nine Thousand Thirty-Nine</td>
                            <td class="text-end"></td>
                        </tr>
                    </table>
                    <table class="mt-3">
                        <tr>
                            <th>Terms and Condition</th>
                            <th> والأحكام الشروط </th>
                        </tr>
                        <tr>
                            <td>1 - test terms and condition</td>
                            <td></td>
                        </tr>
                    </table>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 mt-4">
                    <table class="">
                        <tr>
                            <th colspan="3">Bank Account Details<br><br></th>
                        </tr>
                        <tr>
                            <td>Bank Name</td>
                            <td>:</td>
                            <td>ALRAJHI BANK</td>
                        </tr>
                        <tr>
                            <td>Account Name</td>
                            <td>:</td>
                            <td>althaf</td>
                        </tr>
                        <tr>
                            <td>Account Number</td>
                            <td>:</td>
                            <td>123456789</td>
                        </tr>
                        <tr>
                            <td>IBAN No </td>
                            <td>:</td>
                            <td>123456789</td>
                        </tr>
                        <tr>
                            <td>SWIFT No</td>
                            <td>:</td>
                            <td>123456789</td>
                        </tr>
                        <tr>
                            <td>Branch Name</td>
                            <td>:</td>
                            <td>riyadh</td>
                        </tr>
                    </table>
                    
                    
                </div>
                <div class="col-lg-12 mb-4">
                    <table class="mt-3 text-center">
                        <tr>
                            <th>Recieved By<br>تم االستالم بواسط</th>
                            <th>Approved By<br><span class="text-danger">تمت الموافقة عليه من قبل</span></th>
                            <th>Prepared By<br><span class="text-danger">أُعدت بواسطة </span></th>
                        </tr>
                    </table>
                </div>
            </div> 
        </div>
    </div>
</body>
</html>